<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theappnazi.notenotifier">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp">

        <meta-data android:name="DATABASE" android:value="my_notes.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />

        <activity
            android:name="com.theappnazi.notenotifier.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.theappnazi.notenotifier.receivers.NotificationCancelReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.theappnazi.notificationnotes.intent.NOTE_MARKED_READ" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.theappnazi.notenotifier.receivers.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.theappnazi.notenotifier.services.NotifierService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>