<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theappnazi.notenotifier">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp">

        <activity android:name=".ui.SplashActivity"
            android:theme="@style/MyThemeNoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.theappnazi.notenotifier.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver
            android:name="com.theappnazi.notenotifier.receivers.NotificationCancelReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.theappnazi.notenotifier.intent.NOTE_MARKED_READ" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.theappnazi.notenotifier.receivers.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.theappnazi.notenotifier.services.BootNotifierService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>